body {
    background-color: #444444;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333)); 
    background-image: -webkit-linear-gradient(left top, #000, #333);
    background-image: -moz-linear-gradient(left top, #000, #333);
    overflow: hidden;
}

#info {
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 25px;
}

#defs {
    height: 0;
    width:0;
}

.frame {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #cc001b;
    stroke: #fff;
    stroke-width: .5px;
}


.place,
.place-label {
  fill: #444;
}


.tooltip{
    position: absolute;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    color: white;
    text-align: center;
    border-width: 10px;
    background-color: black;
    border-radius: 15px;
}


.tooltip1{
    position: absolute;
    height: auto;
    font-size: 25px;
    color: red;
}

.timeShow{
    position: absolute;
    width: 120;
    height: 30;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
}

.point {
    fill: none;
  stroke: #ff0000;
  stroke-width: 3px;
}



.globe {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}

.star {
    fill: #fff;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}